%h1 Написать сообщение

= simple_form_for [:admin, @message], :html => { class: "horizontal_form" } do |f|
  = f.input :author_id,  input_html: {value: current_user.id}, as: :hidden
  = f.input :message, label: "Сообщение"

  = f.button :submit, "Сохранить", class: 'btn btn-primary'
  = link_to "Отмена", admin_messages_path, class: "btn btn-default"