= javascript_include_tag 'application', 'data-turbolinks-track' => true
= stylesheet_link_tag    'admin', media: 'all'
.portrait
  -#%h1 Добровольцы (#{@volunteers.count})

  %table.table.table-bordered(style="font-size: 11px")
    %tr
      %th.td-18
      %th
        Сведения
      %th
        Время
      %th
        Телефон
      %th
        Время и место служения

    - @volunteers.each_with_index do |volunteer, index|
      %tr
        %td.td-center
          = index + 1
        %td
          = volunteer.full_info_for_print
        %td.td-nowrap
          = volunteer.convenient_time
        %td.td-nowrap
          = volunteer.phone
        %td
          = volunteer.vacancy.try(:full_info).try(:html_safe)

  = raw immediate_print