= javascript_include_tag 'application', 'data-turbolinks-track' => true
= stylesheet_link_tag    'admin', media: 'all'
.portrait
  -#%h1 Схема вакансий (#{@vacancies.count})


  %table.table.table-bordered(style="font-size: 11px")
    %tr
      %th.td-18
      %th
        Вакансия
      %th
        Доброволец
      %th
        Телефон

    - @vacancies.each_with_index do |vacancy, index|
      %tr
        %td.td-center
          = index + 1
        %td
          = vacancy_full_info(vacancy).html_safe
        %td
          = vacancy.volunteer.try(:full_info_for_print)
        %td
          = vacancy.volunteer.try(:phone)

  = raw immediate_print